{{define "index"}}
	{{template "header" .}}
	<h1>Записей в кэше: {{ .Count}}</h1>
	<form name="uuid" method="get">
		<label>
			<input name="id" type="text" size="40" list="cache">
		</label>
		<datalist id="cache">
			{{range .UUIDs}}
				<option> {{ . }} </option>
			{{ end }}
		</datalist>
		<p>
			<input type="submit" value="Go!">
		</p>
		<h3>UUID: {{ .Msg}}</h3>
		<div class="outline" style="white-space: break-spaces">{{ .Model}}</div>
	</form>
	{{template "closer" .}}
{{end}}